@import "../../../variables";

:host {
  .nav {
    &__container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px 0;
      width: 100%;
    }

    &__logo {
      background: url("../../../assets/images/logo.svg") no-repeat center;
      cursor: pointer;
      height: 114px;
      font-size: 20px;
      outline: none;
      padding-bottom: 5px;
      size: 5px;
      width: 399px;
      @media (max-width: $media-m) {
        height: 68px;
        background-image: url("../../../assets/images/logo-mobile.svg");
        width: 239px;
      }
    }

    &__bold {
      font-weight: bold;
      font-size: 45px;
    }

    &__slogan {
      color: $white;
    }
  }
}
