<div class="homepage__container">
  <div class="homepage__content">
    <div class="homepage__primary">
      <div class="homepage__welcome">Keep Playing The Music You Love</div>
      <div>Build your own playlist in no time, from the greatest hits of each decade, starting from the 70's until
        today.
      </div>
      <div>The songs were ranked by the listeners of the Israeli radio station "Galgalatz"</div>
    </div>

    <div class="homepage__secondary">
      <div>From the library above you can browse the different hits of each decade</div>
      <div>Press on <i class="material-icons homepage__icon">play_circle_outline</i> in order to play a preview of
        the selected song and use the <i class="material-icons homepage__icon">add_circle_outline</i> to add the song to
        your playlist
      </div>
      <div> Hit the <i class="material-icons homepage__icon-border">headset</i>, in the bottom right corner, in
        order to
        navigate to your playlist
      </div>
    </div>

  </div>
</div>
