<div class="keep-playing__container">
  <div class="keep-playing__header">
    <app-nav></app-nav>
  </div>
  <div class="keep-playing__body">
    <div class="keep-playing__carousel">
      <app-carousel></app-carousel>
    </div>
    <div class="keep-playing__content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="keep-playing__footer">
    <div class="keep-playing__playlist-overlay">
      <app-playlist-overlay></app-playlist-overlay>
    </div>
  </div>
</div>

<app-background></app-background>


